.controls {
    text-align: center;
}

.dice {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.die {
    background-color: white;
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transition: transform 0.05s linear;
}

.die.current {
    transform: scale(1.3);
}
